:root {
  --dark: #07162A;
  --bright: white;
}

html, body {
  background: var(--dark);
  color: var(--bright);
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

#content {
  padding-left: 1em;
  padding-right: 1em;
  max-width: 50ch;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  font-size: 2.2em;
}

p, li, button {
  font-size: 1.2em;
}

li {
  text-align: left;
}

.block, li {
  margin-bottom: 45vh;
  margin-top: 45vh;
}

button {
  background-color: var(--bright);
  color: var(--dark);
  border: none;
  margin: 0.2em;
  padding: 0.5em;
  font-weight: bold;
  border-radius: 0.5em;
}

button:hover {
  opacity: 0.5;
  transition: opacity 0.2s;
}

button:active {
  opacity: 0.2;
  transition: opacity 0s;
}

.mustFadeIn {
  opacity: 0;
}

.fadedIn {
  opacity: 1;
  transition: opacity 0.5s;
}

.bigBreak {
  height: 30vh
}

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background: var(--dark);
}

::-webkit-scrollbar-thumb {
  background: var(--bright);
  border-radius: 80px;
  border: 3px solid var(--dark);
}

::-webkit-scrollbar-thumb:hover {
  background: #828A94;
}